<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Pantry Helper</title>
</head>
<body>
    <nav>
        <a href="{% url 'app:home' %}">Home</a>

        {% if user.is_authenticated %}
            <a href="{% url 'app:dashboard' %}">Dashboard</a>
            <a href="{% url 'app:food_list' %}">Pantry</a>

            {% if role == 'InventoryManager' or role == 'HouseholdAdmin' %}
                <a href="{% url 'app:food_new' %}">Add food</a>
            {% endif %}
        {% endif %}

        {% include "loginpartial.html" %}
    </nav>

    <hr>

    {% block content %}
    {% endblock %}
</body>
</html>