<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Pantry Helper</title>
</head>
<body>
    <nav>
        {% if user.is_authenticated %}
            <a href="{% url 'app:dashboard' %}">Dashboard</a>

            {% if perms.app.view_food %}
                <a href="{% url 'app:food_list' %}">Pantry</a>
            {% endif %}

            {% if perms.app.add_food %}
                <a href="{% url 'app:food_new' %}">Add food</a>
            {% endif %}
        {% endif %}

        {% if perms.app.view_recipe %}
            <a href="{% url 'app:recipe_list' %}">Recipes</a>
        {% endif %}

        {% include "loginpartial.html" %}

        {% if perms.app.manage_household_members %}
            <a href="{% url 'app:household_members' %}">Members</a>
        {% endif %}
    </nav>

    <hr>

    {% block content %}
    {% endblock %}
</body>
</html>